body {
    margin: 100px;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.block {
	background-color:rgba(0,0,0,0.3);
	min-height:70vh;
  	padding-left:12px;
  	padding-right:12px;
    color: white;
}

h1 {
	font-size: 80px;
}

h3 {
    text-align: center;
}
